ul.navbar {
    list-style-type: none;
    background-color: gray;
    overflow:hidden;
    margin: 0;
}

li.navitem {
    padding: 8px 16px;
    display:block;
    text-align:center;
    color:white;
    float:left;
    border-right: white solid 1px;
}

    .navitem:last-child {
        float:right;
    }

    .navitem:hover {
        background-color: lightgreen;
        color: white;
    }